@tailwind base;
@tailwind components;
@tailwind utilities;

[data-fsd] {
  outline: 2px solid var(--layer-color);
  position: relative;
  background-color: var(--layer-bg-color);
}

[data-fsd]::after {
  content: attr(data-fsd);
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  background: var(--layer-color);
  color: #fff;
  font-size: 10px;
  line-height: 1;
  font-weight: bold;
  padding: 0 2px;
}
